<% if !@products.any? %>
  <div class="no_product">
    <%= image_tag("sad.png", width: 250) %>
    <p>There are no products yet</p>
  </div>
<% else %>
  <div class="box">
    <% @products.each do | product | %>
      <div class="product_card">
        <div>
          <a href="<%= product_path(product.id) %>">
            <% if product.picture.attached? %> 
              <%= cl_image_tag product.picture.key, crop: :scale, width: 180, cloud_name: 'dkh1bbave'%> 
            <% elsif product.default_image?  %> 
            <% end %>
          </a>
        </div>
        <div>
          <a href="<%= product_path(product.id) %>">
            <p class="name"> <%= product.name %> </p>
            <p class="price">$<%= product.price%></p>
          </a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>