<% if !@products.any? %>
  <div class="no_product">
    <%= image_tag("sad.png", width: 250) %>
    <p>No listings here yet</p>
  </div>
<% else %>
  <div class="product_list">
    <div class="product header_row">
      <div class="image">Image</div>
      <div class="name">Title</div>
      <div class="price">Price</div>
      <div class="manage">Manage</div>
    </div>
    <% @products.each do | product | %>
      <div class="product">
        <div class="image">
          <% if product.picture.attached? %> 
            <%= cl_image_tag product.picture.key, crop: :scale, width: 150, cloud_name: 'dkh1bbave'%>
          <% elsif product.default_image? %> 
          <% end %>
        </div>
        <div class="name">
          <a href="<%= product_path(product.id) %>">
            <%= product.name %>
          </a>
        </div>
        <div class="price">
          $<%= product.price%>
        </div>
        <div class="manage">
          <%= link_to "edit", edit_product_path(product), class: "edit" if @owner %>
          <%= " | " if @owner %>
          <%= link_to 'delete', @owner ? product_path(product) : destroy_wishlist_path(product), method: :delete, data: { confirm: "are you sure?"}, class: "delete" %><br />
        </div>
      </div>
    <% end %>
  </div>
<% end %>
