<div class="product">
    <div class="product_info">
        <h2><%= @product.name %></h2>
        <% if @product.picture.attached? %>
            <p><%= cl_image_tag @product.picture.key, crop: :scale, width: 500, cloud_name: 'dkh1bbave' %></p>
        <% elsif @product.default_image? %>
           <p><%= image_tag("#{@product.default_image}.jpg", width: 500) %></p>
        <% end %>
        <h2>Price: $<%= @product.price %></h2>
        <h4>Category: <%= link_to @product.category.name, category_path(@product.category.id) %></h4>
        <h4>Product description: </h4>
        <p class="description"><%= @product.description %></p>
    </div>
    <div class="right_panel">
        <div class="seller_info">
            <h2>Seller Info</h2>
            <p><%= link_to @product.user.name, seller_path(@product.user.id) %></p>
            <% if user_signed_in? %>
                <p>Email: <%= @product.user.email %></p>
                <p>Phone: <%= @product.user.phone %></p>
            <% else %>  
                <%= button_to "Login to see contact details", new_user_session_path(), method: :get, class: "button red" %>
            <% end %>
        </div>
        <% if user_signed_in? && current_user == @product.user %>
            <%= button_to "Edit Listing", edit_product_path(@product), method: :get, class: "button red" %>
        <% elsif @already_in_wishlist %>
            <div class="button disabled">Saved in wishlist</div>
        <% elsif user_signed_in? %>
            <%= button_to "Save to wish list", create_wishlist_path(@product), method: :post, class: "button red" %>
        <% end %>
    </div>
</div>