<div class="product">
    <div class="product_info">
        <h1><%= @product.name %></h1>
        <% if @product.default_image? %>
            <p><%= image_tag("example_products/#{@product.default_image}.jpg", width: 500) %></p>
        <% elsif @product.picture.attached? %>
            <p><%= cl_image_tag @product.picture.key, crop: :scale, width: 500, cloud_name: 'dkh1bbave' %></p>
        <% end %>
        <h2>Price: $<%= @product.price %></h2>
        <h4>Category: <%= link_to @product.category.name, category_path(@product.category.id) %></h4>
        <h4>Product description: </h4>
        <p class="description"><%= @product.description %></p>
    </div>
    <div class="right_panel">
        <div class="seller_info">
            <h2>Seller Info</h2>
            <p><%= link_to @product.user.name, seller_path(@product.user.id) %></p>
            <% if user_signed_in? %>
                <p>Email: <%= @product.user.email %></p>
                <p>Phone: <%= @product.user.phone %></p>
            <% else %>
                <a href="<%= new_user_session_path() %>">
                    <div class="button"> Login to see contact details </div>
                </a>
            <% end %>
        </div>
        <% if user_signed_in? %>
            <a href="#"><div class="button"> Save to wish list </div></a>
        <% end %>
    </div>
</div>