<!DOCTYPE html>
<html>
  <head>
    <title>PCMart</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Header %>
    <div class="header">
      <div class="container">
        <div class="logo">PC Mart</div>
        <div class="menu">
          <div><%= link_to "Create Listing", new_product_path() %></div>
          <div>
            <% if user_signed_in? %>
              <%= link_to "My Account", usercenter_index_path() %>
            <% else %>
              <%= link_to "Login", new_user_session_path() %> |
              <%= link_to "Register", new_user_registration_path() %> 
            <% end %>
          </div>
          <div>Wish List</div>
        </div>
      </div>
    </div>

    <div class="container main">
      <% if notice %>
        <p class="notice"><%= notice %></p> 
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <% if flash[:errors] %>
        <ul class="alert">
          <% flash[:errors].each do |error| %>
            <li><%= " #{error}," %></li>
          <% end %>
        </ul>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
